#!/bin/bash
TASKDIR="task11-bank"
CLASS="Client"
PACKAGE="bank"
NAME="task11-bank"
TEST_NAME="bank"
TEST_TYPE="..."
JAVAFILES="
          Client.java 
          Server.java

          ReturnType.java 
          Bank.java 
          RemoteBank.java 

          Person.java 
          BasePerson.java 
          RemotePerson.java 
          LocalPerson.java 

          Account.java 
          BaseAccount.java 
          RemoteAccount.java 
          LocalAccount.java 

          tests/RemoteBankTest.java 
          tests/BankTests.java 

          scripts/build.sh
          scripts/start-client.sh
          scripts/start-server.sh
          scripts/start-test-console.sh
          scripts/start-tests-from-main.sh

          Utils.java"
