#!/bin/bash
TASKDIR="task4-implementor"
CLASS="JarImplementor"
PACKAGE="implementor"
NAME="task4-implementor"
TEST_NAME="implementor"
TEST_TYPE="jar-advanced"
JAVAFILES="Implementor.java 
          JarImplementor.java 
          Formatter.java 
          MethodWrap.java 
          compile-javadoc.sh 
          build-jar.sh
          package-info.java"

